{% extends 'AppVuelos/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<p>

    <h5>Resumen</h5>
    
    <ul>
        <li>
            Si alguien tiene planeado realizar un viaje por avión debe buscar y comparar vuelos en varios sitios web.
        </li>
        
        <br>

        <li>
            EL proyecto se enfoca en integrar informacion sobre los servicios de consulta de vuelos de varios sitios web
            <br>
            con la finalidad de ayudar en las busquedas de los usuarios.
    
        </li>       
    
    </ul>
    
    
</p>
    
   
{% endblock contenidoQueCambia %}
