{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{% static 'AppVuelos/css/styles.css' %}">
        
</head>

<body>
    <div class="login">

        <div class="form">

            <form action="" method="POST">

                <!--token POST-->
                {% csrf_token %}
              
                {{form.as_p}}

                <button type="submit" class="btn flat">Iniciar sesion</button>
                
            </form>
            <br>
            <p><a href="{% url 'Register' %}">Registrate</a></p>
        </div>
    </div>

</body>

</html>