
{% extends 'AppVuelos/padre.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Usuario delogueado</h1>

</body>
</html> -->

<!-- {% load static %} -->



{% load static %}


{% block contenidoQueCambia %}


    <div class="header_inic">
        
        
        <h1> Usuario delogueado</h1>
        
        <br>

        <h3 >Ingresa para enterarte de las ultimas ofertas!
            <br>
            <br>
            ¡Los mejores precios para primavera y verano - reserva ahora!

        </h3>
        <br>
        <br>
      
       

    </div>
    


{% endblock contenidoQueCambia %}