{% load static %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mantenimiento </title>

	<link type="text/css" rel="stylesheet" href="{% static 'AppVuelos/css/styles.css' %}">

</head>

<body>
	<div class="mantenimiento">
		<h1>Página web en construcción</h1>

		<div>
			<p>Lo sentimos, estamos trabajando en terminar pronto.</p>
		</div>

		

	</div>
</body>
</html>