
<!--Detalle de Operadores-->
<!--Consulta sobre operador-->
<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="header_inic" >

    <p>Nombre del Operador: <i>{{ operador.nombre }}</i></p>
    <br>

    <p>Direccion: <i>{{ operador.direccion }}</i></p>
    <br>

    <p>Web: <i>{{ operador.web }}</i></p>
    <br>
    
    <p>Telefono: <i>{{ operador.telefono }}</i></p>
    
    <br>

    <p>
        <a href="{% url 'List_Operadores' %}">Regresar</a>
    </p>

</div>

{% endblock %}