
<!--Listado de Operadores + CRUD-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}
    <h1>Datos de Operadores: </h1>
    <ul>
        {% for ope in object_list %}

            <li>
                <p>Nombre: {{ ope.nombre }} </p>
                <p> 
                    <a href="{% url 'Detail' ope.id %}">Ver |</a>  
                    <a href="{% url 'Edit' ope.id %}">Editar |</a>  
                    <a href="{% url 'Delete' ope.id %}">Borrar</a> 
                </p> 
            </li>

        {% endfor %}
    </ul>

    <!--: Agregar Operador-->
    <a href="{% url 'New'  %}">Nuevo</a>


    {% endblock %}