
<!-- Eliminar Operador-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}

    <div class="header_inic">

    <form method="post">{% csrf_token %}
        <br>

        <h3>Eliminar Operador:</h3>
        
        <br>

        ¿Estas seguro de eliminar al Operador: "{{ object }}"?
        
        &nbsp 
        <input class="btn-primary" type="submit" value="Borrar" style="padding: 8px 20px; background-color:gray"/>  
    
    </form>

    
</div>


{% endblock %}