
<!--Listado de Operadores + CRUD-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div class="header_inic">

        <h3>Datos de Operadores: </h3>
        <br>
        <ul>
            {% for ope in object_list %}

                <li>
                    <p>Nombre: {{ ope.nombre }} </p>
                    <p> 
                        <a style="font-size: 15px"; href="{% url 'Detail_Operadores' ope.id %}">Ver |</a>  
                        <a style="font-size: 15px"; href="{% url 'Edit_Operadores' ope.id %}">Editar |</a>  
                        <a style="font-size: 15px"; href="{% url 'Delete_Operadores' ope.id %}">Borrar</a> 
                    </p> 
                </li>
                
                <br>

            {% endfor %}
        </ul>

        <!--: Agregar Operador-->
        <a href="{% url 'New_Operadores'  %}">Agregar</a>
    </div>    

{% endblock %}