<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos_List</title>
</head>
<body>

    <h1>Operadores:</h1>
    <ul>
        {% for operador in object_list %}

            <li>
                <p>NOMBRE: {{ operador.nombre }} </p>
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a>


</body>
</html>