<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Principal </title>

        <link type="text/css" rel="stylesheet" href="{% static 'AppVuelos/css/styles.css' %}">

   

    </head>

<body>
   
    <div class="container">
        <div class="navbar">

            <ul>
                <li>
                    <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a> 
                </li>
                
                <li>
                    <a class="navbar-brand" href="{% url 'Operadores' %}">Operadores</a>

                </li>
                
                
                <li>
                    <a class="navbar-brand" href="{% url 'Trayectos' %}">Trayectos</a>

                </li>
                



            </ul>
            {% if not request.user.is_authenticated %}
            <a class="btn-primary" href="{% url 'Login' %}">Ingresar</a>
            {% endif %}

            <!-- mensaje de login -->
            {% if request.user.is_authenticated %}
            <p class="text-muted small mb-4 mb-lg-0" style="color: white; font: size 14px; font-weight:bold"> Hola, {{user.username}}</p>
            {% endif %}

        </div>
        
    </div>

       
       {% block contenidoQueCambia %}
           
       {% endblock contenidoQueCambia %}
        
       <!-- Footer-->
       <footer  >

            <ul class="pie1">
                <li><a style="color: rgb(10, 11, 117) ;" href="{% url 'mantenimiento' %}">About</a></li>
                <li><a style="color: rgb(10, 11, 117);" href="#!">Contact</a></li>
                <li><a style="color: rgb(10, 11, 117);" href="{% url 'mantenimiento' %}">Terms of Use</a></li>
            </ul>

            <p class="pie2"> Your Website 2022. All Rights Reserved.</p>

            <p class="iconos-sociales">
                <a class="imgFB" href="http://www.facebook.com" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
            </p>


            <p class="iconos-sociales">
                <a class="imgINS" href="https://www.instagram.com" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>        
            </p>



        </footer>



</body>


</html>
