
<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modern NavBar + Underline </title>

        <!-- <link rel="stylesheet" href="/AppVuelos/static/AppVuelos/css/styles.css"> -->

        <link rel="stylesheet" href="{% static '/AppVuelos/css/styles.css' %}">
    
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    </head>

<body>
        
        <!-- Navigation-->

        <nav >
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                
                
                <a class="navbar-brand" href="{% url 'Operadores' %}">Operadores</a>

                <a class="navbar-brand" href="{% url 'Trayectos' %}">Trayectos</a>
               
                

            </div>

        </nav>

       
       {% block contenidoQueCambia %}
           
       {% endblock contenidoQueCambia %}
        
       <!-- Footer-->
       <footer class="text-center text-white" >
  
            <ul class="pie1">
                <li><a href="#!">About</a></li>
                <li><a href="#!">Contact</a></li>
                <li><a href="#!">Terms of Use</a></li>
            </ul>

            <p class="pie2"> Your Website 2022. All Rights Reserved.</p>

            <p class="iconos-sociales">
                <a class="imgFB" href="http://www.facebook.com" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
            </p>


            <p class="iconos-sociales">
                <a class="imgINS" href="https://www.instagram.com" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>        
            </p>



        </footer>



</body>


</html>
