{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{% static 'AppVuelos/css/styles.css' %}">

    </head>
<body style=" background-image: url('/static/AppVuelos/images/login.jpg') ; background-size: cover; ">
    <div class="login">

        <div class="form">    
            <form action="" method="POST">
                <h1 style="text-align: center;">Registro</h1>
                <br>

                <!--token POST-->
                {% csrf_token %}
                
                <!--Formulario de creacion de usuario-->
                {{form.as_p}}

                <button type="submit">Registrar</button>

            </form>

        </div>
    </div>

</body>