
<!--Resultado de Busqueda-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div class="header_inic" >
    
    <h3>Resultados de busqueda: </h3>
    <br>
    
    <p style="font-weight: bold; color:#424876;"> &nbsp &nbsp Ruta &nbsp &nbsp &nbsp &nbsp Salida - Hora </p>
    <br>
    
    {% if busqueda %}
        <ul>

            {% for ruta_encontrada in busqueda %}
                <li>
                    {{ruta_encontrada}}
                </li>
                
                <br>

            {% endfor %}

        </ul>
        
    {% endif %}
   
    <p>
        <a href="{% url 'inicio' %}">Regresar</a>
    </p>

</div>

{% endblock %}