
<!--Listado de Operadores + CRUD-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}
    <h1>Datos de Trayectos: </h1>
    <ul>
        {% for t in object_list %}

            <li>
                <p>Nombre: {{ t.ruta }} </p>
                <p> 
                    <a href="{% url 'Detail_Trayectos' t.id %}">Ver |</a>  
                    <a href="{% url 'Edit_Trayectos' t.id %}">Editar |</a>  
                    <a href="{% url 'Delete_Trayectos' t.id %}">Borrar</a> 
                </p> 
            </li>

        {% endfor %}
    </ul>

    <!--: Agregar Operador-->
    <a href="{% url 'New_Trayectos'  %}">Nuevo</a>


    {% endblock %}