
<!--Listado de Trayectos + CRUD-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div class="header_inic" >
        
        <h4>Detalle del Trayecto: </h4>
        <br>

        <p >Nombre del Trayecto: <i>{{ trayecto.ruta }}</i></p>
        <br>

        <p>Fecha Salida: <i>{{ trayecto.fechaSalida }}</i></p>
        <br>

        <p>Hora Salida: <i>{{ trayecto.horaSalida }}</i></p>
        <br>

        <p>Hora Llegada: <i>{{ trayecto.horaLlegada }}</i></p>
        <br>
        <p>
            <a href="{% url 'List_Trayectos' %}">Regresar</a>
        </p>

    </div>

{% endblock %}