<!--Listado de Operadores-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="header_inic">
    
    <h3>Cronograma de Trayectos: </h3>
    <br>
    <br>

    <ul>

        <p style="font-weight: bold; color:#424876;"> &nbsp &nbsp Ruta &nbsp &nbsp Fecha Salida </p>
        <br>
        {% for t in object_list %}

        <!-- Nombre de Rutas:  -->

            <li>
                <p >{{ t.ruta}} - {{t.fechaSalida}} </p>
                <br>
            </li>

        {% endfor %}
    </ul>

    <p>
        <br>
        <a href="{% url 'List_Trayectos' %}"; style="font-size: 14px;">Ver detalle</a>
    </p>

</div>



{% endblock %}
