
<!--Listado de Trayectos + CRUD-->

<!-- Herencia de padre.HTML-->

{% extends "AppVuelos/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}

    <div class="header_inic">
        <h3>Datos de Trayectos: </h3>
        <br>
        <ul>
            {% for t in object_list %}

                <li>
                    <p >Trayecto: {{ t.ruta }} , {{ t.fechaSalida }} </p>

                    <p> 
                        <a style="font-size: 15px"; href="{% url 'Detail_Trayectos' t.id %}">Ver |</a>  
                        <a style="font-size: 15px"; href="{% url 'Edit_Trayectos' t.id %}">Editar |</a>  
                        <a style="font-size: 15px"; href="{% url 'Delete_Trayectos' t.id %}">Borrar</a> 

                    </p> 
                </li>

                <br>

            {% endfor %}
        </ul>

        <!--: Agregar Operador-->
        <a href="{% url 'New_Trayectos'  %}">Agregar</a>
        

    </div>


{% endblock %}