

/* body
{
    background: white url('AppVuelos/images/Portada.jpg');
    
} */

/* .container{
background-image: url('AppVuelos/images/Portada.jpg') 50% 0 no-repeat fixed;
color: rgb(218, 0, 0);
height: 50px;
padding: 50px 0 0 0; 
} */



/* .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(259, 231, 159, 0.80)), url(AppVuelos/images/Portada.jpg);
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(259, 231, 159, 0.80)),;
    color: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
}    */


/* .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(259, 231, 159, 0.80)),;
    color: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
}    */


/* .container {
    width: 100%;
    height: 100vh;
    background: url(AppVuelos/images/Portada.jpg) 50% 0 no-repeat fixed;
    color: rgb(19, 194, 107);
    height: 650px;
    padding: 100px 0 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0 0 0;  
} */

*
{
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(259, 231, 159, 0.80)), url(AppVuelos/images/Portada.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .navbar
    {
        width: 80%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;  }




/* .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(259, 231, 159, 0.80)), url(AppVuelos/images/Portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

ul.pie1 li{
    display: inline;
    padding: 10px 20px;

}

p.pie2 {
    
    padding: 10px 20px;

}



/* Estilos CSS RRSS:*/
.imgFB img{ 
    position: absolute;
    top: 15px;
    right: 25px;
    
    transition:all 0.5s ease-out; border-radius:50px;
    }
    .iconos-sociales img:hover{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate(0px, -10px); 
    
    }

.imgINS img{ 
    position: absolute;
    top: 15px;
    left: 1800px;
    
    transition:all 0.5s ease-out; border-radius:50px;
    }
    .iconos-sociales img:hover{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate(0px, -10px); 
    
    }


/* Login*/

/* *{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#D4AC0D;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	
	resize:none;
	display:block;
} */
