
*
{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    ;
    
}
.main-header h1{
    background-image: url(/static/AppVuelos/images/PortadaHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50pt;
    }

.navbar
    {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        background-color:#424876 ;
        
    }
    
    .navbar ul li {
        list-style: none;
        display: inline;
        margin: 0 20px;
        position: relative;
    }

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-family: Roboto, "sans-serif";
        font-size: 20px;
        
    }

    .navbar ul li::before {
        content: "";
        height: 3px;
        width: 0%;
        background: hsl(204, 70%, 53%);
        position: absolute;
        left: 0;
        bottom: -12px;
        transition: 0.4s ease-out;
    }

    .navbar ul li:hover::before {
        width: 100%;
    }

    ul li {
        width: 100%;
    }
    
.navbar div a {
color: white;
font-size: 18px;
}

footer {
        position: absolute;
        height: 60px;
        width: 100%;
        color: #0d6efd
        
    }


ul.pie1 li  {
        font-weight: bold;   
        display:inline;
        padding: 10px 20px;
    }


p.pie2 {
    font-weight: bold;   
    padding: 10px 20px;
    text-shadow: 0 0 3px white;
    
}

/* --------------------------------------------------------- */
/* Estilos CSS RRSS:*/
/* --------------------------------------------------------- */
.imgFB img{ 
    position: absolute;
    top: 30px;
    right: 30px;
    
    transition:all 0.5s ease-out; border-radius:50px;
    }
    .iconos-sociales img:hover{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate(0px, -10px); 
    
    }

.imgINS img{ 
    position: absolute;
    top: 30px;
    left: 1800px;
    
    transition:all 0.5s ease-out; border-radius:50px;
    }
    .iconos-sociales img:hover{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate(0px, -10px); 
    
    }

.barra_footer footer
{
    margin: 0;
    
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color:#EBECF3 ;
    
}
/* --------------------------------------------------------- */
/* Header*/
/* --------------------------------------------------------- */
.main-header {
   
    color: white;

    height: 150px;
    line-height: 150px;
    text-align: center;
    top: 40px;
    left: 120px;
        
    background-image: url("static/AppVuelos/images/Portada.jpg");
    
  }	
  #main-header a {
    color: red;

  }

.header_inic{
        position: absolute;
        top: 240px;
        left: 220px;
        color: black;
        font-size: 18px;
    
      

    }



.form_busqueda{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 220px;
    color: black;
    font-size: 16px;
    
    }
    .form_busqueda input
    {
        width: 300px;
        height: 30px;
        border:0;
        outline: none;
        font-size: 16px;
        cursor: pointer;
    
    }

    
/* --------------------------------------------------------- */
/* Mantenimiento */
/* --------------------------------------------------------- */
.mantenimiento{
    width:600px;
    height:400px;
    padding:32px;
    border:1px solid #000;
    border-radius:10px;
    margin-top:-200px;
    margin-left:-300px;
    background-color:rgb(255, 255, 255);
    position:fixed;
    top:50%;
    left:50%;
}

.mantenimiento h1{
    font-size:3em;
    text-align:center;
    padding:16px;

}

.mantenimiento div{
    text-align:center;
    padding: 180px 0 0 0;
    background-image: url(/static/AppVuelos/images/mantenimiento.png);    
    background-repeat : no-repeat;
	background-position: 100px 5px ;
    
}

/* --------------------------------------------------------- */
/* Boton Ingreso */
/* --------------------------------------------------------- */
.btn-primary {
    background-color: #424876; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.btn-primary:hover
{
    background-color: #7ca9ec;
    color: white;
}

/* --------------------------------------------------------- */
/* Login */
/* --------------------------------------------------------- */
.login {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
      position: relative;
      z-index: 1;
      background: #ffffff00;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: left;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

      
    }
    .form button {
        font-family:  "Lato", sans-serif;
        font-size: 14px; /*fuente texto*/
        font-weight:bold;
        text-transform: uppercase;
        color: #FFFFFF; /* color letra*/
        
        width: 200px;
        height: 50px;
        margin-top: 18px;
        right: 10px;
        border: 0;
        margin-left: 25%;
        background: #0d6efd; 
        border-radius: 25px; /*borde*/
        cursor: pointer;
  

      }
      .form input {
        font-family: "Lato", sans-serif;
        outline: 0;
        background: white;
        width: 100%;
        text-align: center;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        display:inline-block;
        cursor: pointer;
        
      }
      body {
        
        font-family: "Lato", sans-serif;
        background-repeat: no-repeat;
        background-size: cover;
        
        
        
    
      }
    
      form label{
        width:72px;
        font-weight:bold;
       
       
    }

    .form span
    {font-size: 6px;color: white;
    }

    .form li
    {font-size: 3px;color: white;}

.text-muted{
--bs-text-opacity:1;
color: #6c757d !important;

}

.contactoFormulario
{
background-color: #424876;

width:500px;
height:300px;
padding:32px;
opacity: 0.8;

border-radius:10px;
margin-top:-200px;
margin-left:-300px;

position:fixed;
top:50%;
left:50%;

}